<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page Builder</title>
  <link rel="stylesheet" href="/styles/pure-min.css">
  <link rel="stylesheet" href="/styles/pure-css.css">
</head>
<script>
	__AC_MODE = "<%= builderMode %>"
	var PageBuilderData = {
		pageId: "<%= pageId %>" 
	}
</script>

<body>
	<div id='root'>
	</div>
	<script src="/static/bundle.js"></script>

</body>

</html>
